﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-center pt-5">
    <div class="h1 text-white text-center col-md-4 font-weight-bold" >MultiDB</div>
</div>
<div class="row justify-content-center py-5">
    <div class="h3 text-center col-md-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    </div>
</div>
<div class="row justify-content-center pb-5 mb-5">
    <a class="h2 col-md-4 whitefont text-center text-decoration-none" href="/Home/Login">SIGN IN --></a>
</div>



