﻿
@{
    ViewData["Title"] = "Login";
}


<div class="row justify-content-center" >
    <form method="post" action="/Home/MainMenu" class="col-md-4 form m-5 p-5 justify-content-center">
        <div class="form-group">
            <label class="label">Usuario</label>
            <input type="text" class="form-control border-color-teal" name="usuario" value="" />
        </div>
        <div class="form-group">
            <label class="label">Contraseña</label>
            <input type="text" class="form-control border-color-teal" name="contraseña" value=""/>
        </div>
        <div class="form-group">
            <a href="" class="text-dark">Olvidaste tu contraseña?</a>
        </div>
        <div class="form-group">
            <a href="/Home/SignUp" class="text-dark">Registrate!</a>
        </div>
        <input type="submit" class="btn-block background text-white border-color-teal"  name="entrar" value="Entrar" />

    </form>
</div>

