﻿
@{
    ViewData["Title"] = "LogOn";
}

    <head runat="server">
        <title>Demo Agregar textbox dinámico</title>
        
        <script type="text/javascript"></script>
        <script src = "jquery-3.4.1.min.js" ></script>
     /@*/Consecutivo de campos a agregar
        // campoNuevo = 0;
        //Pasar los valores txt por QueryString
            function EnviarDatos() {
                var texto = document.getElementById("inputText2").val;
                document.getElementById("inputText").val.texto;

            //$('input[type=text][name!=""]').each(function (index, domEle) {
            //    //alert(index + ': ' + $(domEle).val());
            //    query = query + "&campo" + index + "=" + $(domEle).val();
            //});
            //window.location.href = "/CamposAdicionales.aspx?" + query;
        }z*@
       
    </head>

<div class="row justify-content-center">
    <form asp-controller="Home" asp-action="LogOn" method="post" class="col-md-4 form m-5 p-5 justify-content-center">
        <div class="form-group">
            <label class="username">Username:</label>
            <input type="text" id="inputText" class="form-control border-color-teal" name="username" value="" />
        </div>
        <div class="form-group">
            <label class="password">Password:</label>
            <input type="password" id="inputText2" class="form-control border-color-teal" name="password" value="" />
        </div>
        <div class="form-group">
            <a href="/Home/Index" class="text-dark">Connect In!</a>
        </div>
        <input type="submit" class="btn-block background text-white border-color-teal" name="Log in" value="Log In" />
    </form>
    </div>

