﻿
@{
    ViewData["Title"] = "Main Menu";
}

<html>

<head>
    <h1>Welcome!</h1>
    <br />
    <br />
</head>

    <body>

        <h4>Select your database</h4>
        <br />
        <br />
        <div class="row">
            <div class="col-md-4" align="center">
                <div class="card">
                    <div class="card-body">
                        <img src="~/images/mysql.png" class="card-img-top" alt="" height="120" width="100">
                        <br />
                        <br />
                        <a href="/Home/MySQL_Formulario" class="btn btn-primary">Select</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4" align="center">
                <div class="card">
                    <div class="card-body">
                        <img src="~/images/MariaDB.png" class="card-img-top" alt="" height="120" width="100">
                        <br />
                        <br />
                        <a href="/Home/MariaDB_Formulario" class="btn btn-primary">Select</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4" align="center">
                <div class="card">
                    <div class="card-body">

                        <img src="~/images/Oracle.png" class="card-img-top" alt="" height="120" width="100">
                        <br />
                        <br />
                        <a href="/Home/Formoracle" class="btn btn-primary">Select</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4" align="center">
                <br />
                <div class="card">
                    <div class="card-body">
                        <img src="~/images/SQLServer.png" class="card-img-top" alt="" height="120" width="100">
                        <br />
                        <br />
                        <a href="/Home/Formsql" class="btn btn-primary">Select</a>
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>