﻿
@{
    ViewData["Title"] = "MariaDB_Formulario";
}


<div class="row justify-content-center" >
    <form class="col-md-4 form m-5 p-5 justify-content-center">
        <div class="form-group">
            <img src="~/images/Mariadb.png" class="card-img-top" alt="" height="120" width="100">
            <label class="label">Server Host:</label>
            <input type="text" class="form-control border-color-teal" name="server host" value="localhost" />
        </div>

        <div class="form-group">
            <label class="label">Port:</label>
            <input type="text" class="form-control border-color-teal" name="port" value="3306" />
        </div>

        <div class="form-group">
            <label class="label">Database:</label>
            <input type="text" class="form-control border-color-teal" name="database" value="" />
        </div>

        <div class="form-group">
            <label class="label">User Name:</label>
            <input type="text" class="form-control border-color-teal" name="user name" value="" />
        </div>

        <div class="form-group">
            <label class="label">Password</label>
            <input type="password" class="form-control border-color-teal" name="contrasena" value="" />
        </div>

        <input type="submit" class="btn-block background text-white border-color-teal" name="Connect" value="Connect" href="" />

    </form>
</div>

