﻿
@{
    ViewData["Title"] = "SignUp";
}

<div class="row form py-5 justify-content-center">
    <form class="col-lg-6" action="/Home/Login" method="post">
        <label class="h1 mb-5 text-center">Registrar</label>
        <div class="form-group">
            <label>Nombres</label>
            <input type="text" class="form-control  mb-3" placeholder="primer nombre" name="PrimerNombre" />
            <input type="text" class="form-control " placeholder="segundo nombre" name="SegundoNombre" />
        </div>
        <div class="form-group">
            <label>Apellidos</label>
            <input type="text" class="form-control  mb-3" placeholder="apellido paterno" name="ApellidoPaterno" />
            <input type="text" class="form-control" placeholder="apellido materno" name="ApellidoMaterno" />
        </div>
        <div class="form-group">
            <label>Cedula</label>
            <input type="text" class="form-control" placeholder="cedula" name="Cedula" />
        </div>
        <div class="form-group">
            <label>Correo</label>
            <input type="text" class="form-control" placeholder="correo" name="Correo" />
        </div>
        <div class="form-group">
            <label>Usuario</label>
            <input type="text" class="form-control" placeholder="usuario" name="CuentaUsuario" />
        </div>
        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" class="form-control" placeholder="contrasena" name="Password" />
        </div>
        <div class="form-group">
            <label>Confirma la contraseña</label>
            <input type="password" class="form-control" placeholder="confirma la contraseña" name="Repassword" />
        </div>
        <div class="form-group">
            <label>Telefono</label>
            <input type="tel" class="form-control" name="Telefono" />
        </div>
        <div class="form-group">
            <label>Pais</label>
            <input type="text" class="form-control" name="Pais" />
            <label>Ciudad</label>
            <input type="text" class="form-control" name="Ciudad" />
            <label>Sector</label>
            <input type="text" class="form-control" name="Sector" />
            <label>Calle</label>
            <input type="text" class="form-control" name="Calle" />
            <label>Numero</label>
            <input type="text" class="form-control" name="Numero" />
        </div>
        <input type="submit" class="btn-block background text-white border-color-teal my-5" name="enviar" value="Enviar" />
        <input type="reset" class="btn-block background text-white border-color-teal my-5" name="borrar" value="Borrar" />
        <input type="button" onclick="window.location.href = '/Home/Index'" class="btn-block background text-white border-color-teal my-5" name="cancelar" value="Cancelar" />
    </form>
</div>

