﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MultiDb</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

</head>
<body class="background">
    <partial name="_CookieConsentPartial" />

    <div class="container body-content py-5 ">
        @RenderBody()
        
    </div>
    <footer class="footer mw-100">
        <div class="row p-5">
            <div class="col-md-4 text-center">Terminos De Uso</div>
            <div class="col-md-4 text-center">Politicas De Privacidad</div>
            <div class="col-md-4 text-center">Preguntas Frecuentes</div>
        </div>
    <p>&copy; 2019 - MultiDb</p>
    </footer>


    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
