﻿
@{
    ViewData["Title"] = "Formsql";
}



<form class="col-md-4 form m-5 p-5 justify-content-center" method="post" action="@Url.Action("Consultas" , "Consulta")">
    <div class="row justify-content-center">
        <img src="~/images/SQLServer_logo.png" class="" alt="" width="100%">
        <div class="form-group col-md-10">
            <label class="label">host:</label>
            <input type="text" class="form-control border-color-teal" name="host" value="localhost" />
        </div>
        <div class="form-group col-md-10">
            <label class="label">Port:</label>
            <input type="text" class="form-control border-color-teal" name="port" value="1433" />
        </div>
        <div class="form-group col-md-10">
            <label class="label">Database:</label>
            <input type="text" class="form-control border-color-teal" name="database" value="master" />
        </div>
        <div class="form-group col-md-10">
            <label class="label">Username:</label>
            <input type="text" class="form-control border-color-teal" name="username" value="" />
        </div>
        <div class="form-group col-md-10">
            <label class="label">Password:</label>
            <input type="password" class="form-control border-color-teal" name="password" value="" />
        </div>
        <input type="submit" class="btn-block background text-white border-color-teal" name="connect" value="Connect" />
    </div>
</form>
