﻿
@{
    ViewData["Title"] = "Consulta";
}

<div class="row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-2">
        <!--side bar-->
    </div>
    <div class="col-12 col-md-9 col-xl-10">
        <!--main -->
        <table class="table table-hover ">
            <thead>

            </thead>
        </table>
    </div>
</div>